node_modules
package-lock.json
*.html
!src/**/*.html
/out/
tmp
/test-results/
/playwright-report/
/.github/automation/season-data-monitor/update-report.md

# Google Site Verification
!google3dd9d57115818ebb.html