<aside class="release-notice" id="releaseNotice" aria-label="Application update" hidden>
  <div class="release-notice__inner">
    <p class="release-notice__message">
      <strong>App updated to V<span id="releaseNoticeVersion"></span>.</strong>
      <a id="releaseNoticeLink" href="whats-new.html">What's New</a>
    </p>
    <button class="release-notice__close" id="closeReleaseNotice" type="button" aria-label="Dismiss application update" title="Dismiss application update">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</aside>
